/* Menu */
[data-menu="button"] {
  display: none;
}

@media (max-width: 768px) {
  /* Estilos do menu */
  body {
    background-color: #121212;
    color: #ffffff;
  }

  nav {
    background-color: #1c1c1c;
    color: white;
  }

  [data-menu="button"] {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }

  [data-menu="list"] {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #1c1c1c;
    padding: 0;
  }

  [data-menu="list"].active {
    display: flex;
  }

  [data-menu="list"] a {
    padding: 10px;
    color: white;
    text-decoration: none;
  }

  [data-menu="list"] a:hover {
    background-color: #292929;
  }

  nav a {
    color: white;
  }

  .principal__botao a div,
  .sobre-mim__descricao-buttons a div,
  .projetos__card-button {
    background-color: #292929;
    color: white;
    border: 1px solid #00d2df;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    transition: background 0.3s, color 0.3s;
  }

  .principal__botao a div:hover,
  .sobre-mim__descricao-buttons a div:hover,
  .projetos__card-button:hover {
    background-color: #00d2df;
    color: black;
  }

  footer {
    background-color: #121212;
    color: white;
    text-align: center;
    padding: 1rem;
  }
}
