/* Resetando o estilo básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definindo fontes globais */
body {
  font-family: Arial, sans-serif;
  background-color: #121212; /* Cor escura de fundo para toda a página */
  color: #fff; /* Cor do texto */
  padding: 0;
  margin: 0;
}

/* Estilo da principal */
.principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 5%;
  background-color: #121212; /* Cor de fundo escura */
}

.principal__left {
  width: 50%;
}

.principal__right {
  width: 50%;
  text-align: center;
}

/* Estilo da seção sobre mim */
.sobre-mim {
  display: flex;
  justify-content: space-between;
  padding: 100px 10%;
  background-color: #121212; /* Garantindo fundo escuro */
}

.sobre-mim__foto {
  width: 40%;
  border-radius: 50%;
  overflow: hidden;
}

.sobre-mim__foto img {
  width: 100%;
}

.sobre-mim__descricao {
  width: 55%;
}

.sobre-mim__descricao h2 {
  margin-bottom: 10px;
}

.sobre-mim__descricao p {
  margin-bottom: 20px;
}

/* Botões da seção sobre mim */
.sobre-mim__descricao-buttons {
  display: flex;
  justify-content: space-between;
}

/* Estilo dos cards e containers */
.projetos,
.experiencia {
  padding: 50px 10%;
  background-color: #121212; /* Fundo escuro */
}

.projetos__card,
.experiencia__card {
  background-color: #1d1d1d;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

/* Adicionando estilo para os botões */
button {
  padding: 10px 20px;
  background-color: #006d77; /* Cor principal azul petróleo */
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #004d52; /* Cor mais escura no hover */
}

/* Modificações para telas menores (mobile) */
@media (max-width: 880px) {
  .principal,
  .sobre-mim,
  .experiencia,
  .projetos {
    padding: 22% 0;
    text-align: center;
    background-color: #121212; /* Definindo fundo escuro para o celular */
  }

  .principal {
    flex-direction: column;
  }

  .principal__left {
    width: 90%;
  }

  .principal__right {
    display: none;
  }

  .sobre-mim {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background-color: #121212; /* Garantindo a cor de fundo escura para a seção */
  }

  .sobre-mim__foto {
    max-width: 80%;
  }

  .sobre-mim__descricao {
    width: 80%;
  }

  .principal__botao,
  .sobre-mim__descricao-buttons {
    width: 320px;
  }

  .projetos,
  .experiencia {
    padding: 30px 5%;
  }
  
  .projetos__card,
  .experiencia__card {
    width: 90%;
    margin: 10px auto;
  }
}
